.header {
   font-size: 12px;
   font-weight: bold;
}

.logoPc{
   width: 240px;
   margin-left: -10px;
   margin-right: 20px;
}
.container00{
   &.container05{
      background-image: url('../../imgs/falcon9/01.jpg');
   }
   &.container06{
      background-image: url('../../imgs/falcon9/02.jpg');
   }
   &.container07{
      background-image: url('../../imgs/falcon9/08.jpg');
   }
   &.carrossel01{
      background-image: url('../../imgs/falcon9/03.jpg');
   }
   &.carrossel02{
      background-image: url('../../imgs/falcon9/04.jpg');
   }
   &.carrossel03{
      background-image: url('../../imgs/falcon9/05.jpg');
   }
   &.carrossel04{
      background-image: url('../../imgs/falcon9/06.jpg');
   }
   &.carrossel05{
      background-image: url('../../imgs/falcon9/07.jpg');
   }
}

.edit-dark{
   background-color: black;
   height: 40vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: space-evenly;
   .h1{
      font-size: 90px;
   }
   p{
      font-size: 20pxem;
   }
}

footer {
   background-color: black;
   height: 10vh;
   padding: 50px;
   text-align: center;
   transition: .5s;
   .copyJoao{
      color: $copy-color;
   }
   a{
      padding: 10px;
      color: white;
      text-decoration: none;
      &:hover{
         color: $link-hover;
      }
   }
}

#overViewPosition {
   width: 500px;
   margin-left: 13%;
   padding-top: 15%;
}

.carousel-caption{
   p{
      background-color: black;
   }
}

.dowloadDesc {
   background-color: black;
   height: 85vh;
   padding-top: 240px;
   span{
      color: $copy-color;
      &:hover{
         text-decoration: underline;
      }
   }
   button{
      border: 2px solid white;
      border-radius: 0px;
      padding: 15px;
   }
}

@media only screen and (max-width: 900px){
   #overViewPosition {
      width: auto;
   }
}
@media only screen and (max-width: 576px){
   .edit-dark{
      height: 100vh;
   }
}