@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;500;600;700;800&display=swap');

:root {
   --white: hsl(210, 60%, 98%);
   --veryLightGrayish: hsl(211, 68%, 94%);
   --lighttBlue:  hsl(219, 14%, 63%);
   --darkGrayish : hsl(219, 12%, 42%); 
   --veryDarkGrayish: hsl(224, 21%, 14%);
   --commentColor : rgb(97, 97, 97);
   --blue : hsl(219, 85%, 26%);
}

* {
   font-family: 'Plus Jakarta Sans', sans-serif;
   margin: 0;
   padding: 0;
}

body {
   background-color: var(--veryLightGrayish);
}

.contentAll {
   margin: 25px auto;
   width: 70%;
   background-color: var(--white);
   border-radius: 20px;
   padding: 25px;
}

.flexTitleContent {
   display: flex;
   width: 100%;
   justify-content: space-between;
   margin-bottom: 17px;
}

h1 {
   font-family: 'Plus Jakarta Sans', sans-serif;
   font-size: 21px;
   font-weight: 800;
}


.three {
   color: white;
   background-color: var(--blue);
   padding: 2px 5px;
   border-radius: 3px;
}

h2 {
   color: var(--lighttBlue);
   font-size: 18px;
   font-weight: 600;
}

.markImg > img {
   width: 80%;
}

.notificationMark {
   margin-top: 5px;
   background-color: var(--veryLightGrayish);
   padding: 15px;
   border-radius: 10px;
   display: flex;
}

.markName {
   color: black;
   font-weight: 900;
   transition: .2s;
}

.markName:hover {
   cursor: pointer;
   color: var(--blue);
}

.informationMark > p {
   color: var(--lighttBlue);
   font-weight: 600;
}

.mark {
   color: var(--commentColor);
   font-weight: 700;
}

.angelaImg > img {
   width: 80%;
}

.notificationAngela {
   margin-top: 5px;
   background-color: var(--veryLightGrayish);
   padding: 15px 20px;
   border-radius: 10px;
   display: flex;
}

.angelaName {
   color: black;
   font-weight: 900;
   transition: .2s;
}

.angelaName:hover {
   cursor: pointer;
   color: var(--blue);
}

.informationAngela > p {
   color: var(--lighttBlue);
   font-weight: 600;
}

.jacobImg > img {
   width: 80%;
}

.notificationJacob {
   margin-top: 5px;
   background-color: var(--veryLightGrayish);
   padding: 15px 20px;
   border-radius: 10px;
   display: flex;
}

.jacobName {
   color: black;
   font-weight: 900;
   transition: .2s;
}

.jacobName:hover {
   color: var(--blue);
   cursor: pointer;
}

.informationJacob > p {
   color: var(--lighttBlue);
   font-weight: 600;
}

.invite {
   color: var(--blue);
   font-weight: 700;
}

.invite:hover {
   text-decoration: underline;
   cursor: pointer;
}

.rizky {
   margin-top: 5px;
   padding: 15px 20px;
   border-radius: 10px;
   display: flex;
}

.informationRizky > p {
   color: var(--lighttBlue);
   font-weight: 600;
}

.rizkyName {
   color: black;
   font-weight: 900;
   transition: .2s;
}

.rizkyName:hover {
   color: var(--blue);
   cursor: pointer;
}

.notificationComment {
   width: 85%;
   border: 1px solid var(--lighttBlue);
   border-radius: 5px;
   margin: auto;
   padding: 10px;
   transition: .5s;
}

.notificationComment > p {
   color: var(--lighttBlue);
   font-weight: 600;
}

.notificationComment:hover {
   background-color: var(--veryLightGrayish);
   cursor: pointer;
}

.notificationKimberly {
   margin-top: 5px;
   padding: 15px 20px;
   border-radius: 10px;
   display: flex;
}

.kimberlyImg > img {
   width: 80%;
}

.otherImg > img {
   width : 50%;
}

.kimberlyName {
   color: black;
   font-weight: 900;
   transition: .2s;
}

.kimberlyName:hover {
   color: var(--blue);
   cursor: pointer;
}

.informationKimberly > p {
   color: var(--lighttBlue);
   font-weight: 600;
   padding: 0px 7px;
}

.notificationNathan {
   margin-top: 5px;
   padding: 15px 20px;
   border-radius: 10px;
   display: flex;
}

.nathanImg > img {
   width: 100%;
}

.nathanName {
   color: black;
   font-weight: 900;
   transition: .2s;
}

.nathanName:hover {
   color: var(--blue);
   cursor: pointer;
}

.informationNathan > p {
   color: var(--lighttBlue);
   font-weight: 600;
   padding: 0px 7px;
}

.annaName {
   color: black;
   font-weight: 900;
   transition: .2s;
}

.annaName:hover {
   color: var(--blue);
   cursor: pointer;
}

.informationAnna > p {
   color: var(--lighttBlue);
   font-weight: 600;
   padding: 0px 7px;
}

.notificationAnna {
   margin-top: 5px;
   padding: 15px 20px;
   border-radius: 10px;
   display: flex;
}

/*modal config*/

.markModal {
   border: 2px solid black;
   z-index: 999;
   position: absolute;
   background-color: aliceblue;
   left: 50%;
   top: 50%;
   transform: translate(-50%, -50%);
   height: 250px;
   width: auto;
   padding: 15px;
}

.markModal h3 {
   font-size: 200px;
   font-size: 20px;
   text-align: center;
}

.modalFlexBox {
   display: flex;
   flex-direction: row-reverse;
}

.followers {
   display: flex;
   flex-direction: column;
   gap: 15px 15px;
   border-right: 1px solid var(--veryDarkGrayish);
   padding: 10px;
}