@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

$brightOrange: hsl(31, 77%, 52%); /*Use this color for text in the button*/
$darkCyan: hsl(184, 100%, 22%); /*Use this color for text in the button*/
$veryDarkCyan: hsl(179, 100%, 13%); /*Use this color for text in the button*/
$firstFont: 'Big Shoulders Display', cursive /*weight 400*/;
$secondFont: 'Lexend Deca', sans-serif /*weight 700*/;

*{
   margin: 0;
   padding: 0;
   box-sizing: 0;
}

.contentAll {
   position: absolute;
   left: 50%;
   top: 50%;
   translate: -50% -50%;
   display: flex;
   .sedans {
      background-color: $brightOrange;
      width: 200px;
      height: 400px;
      padding: 25px;
      color: white;
      font-family: $firstFont;
      line-height: 30px;
      h2 {
         font-family: $secondFont;
         padding: 25px 0px;
      }
      button {
         background-color: white;
         padding: 10px;
         border-radius: 25px;
         margin-top: 100px;
         border: 1px solid $brightOrange;
         color: $brightOrange;
         transition: .5s;
         &:hover {
            cursor: pointer;
            background-color: beige;
         }
      }
   }
   .suvs{
      background-color: $darkCyan;
      width: 200px;
      height: 400px;
      padding: 25px;
      color: white;
      font-family: $firstFont;
      line-height: 30px;
      h2 {
         font-family: $secondFont;
         padding: 25px 0px;
      }
      button {
         border: 1px solid $darkCyan;
         color: $darkCyan;
         background-color: white;
         padding: 10px;
         border-radius: 25px;
         margin-top: 100px;
         transition: .5s;
         &:hover {
            cursor: pointer;
            background-color: beige
            }
         }
   }
      .luxury{
      background-color: $veryDarkCyan;
      width: 200px;
      height: 400px;
      padding: 25px;
      color: white;
      font-family: $firstFont;
      line-height: 30px;
      h2 {
         font-family: $secondFont;
         padding: 25px 0px;
      }
      button {
         border: 1px solid $veryDarkCyan;
         color: $veryDarkCyan;
         background-color: white;
         padding: 10px;
         border-radius: 25px;
         margin-top: 70px;
         &:hover {
            cursor: pointer;
            background-color: beige;
         }
      }
   }
}

.attribution { 
   font-size: 16px; 
   text-align: center; 
   margin-top: 100%;
   a { 
      color: hsl(228, 45%, 44%); 
   }
}

@media only screen and (max-width: 900px) {
   .contentAll{
      flex-wrap: wrap;
   }
   .attribution {
      margin-top: 1470px;
   }
}