@charset "UTF-8";

form {
    width: 500px;
    margin: auto;
}

input, textarea {
    font-family: sans-serif;
    font-weight: normal;
    font-size: 1em;
    background-color: rgba(255, 255, 255, .5);
}

input:hover, textarea:hover {
    background-color: #dddddd;
}

legend {
    color: #888888;
    font-weight: bold;
    font-size: 1em;
    font-family: sans-serif;
}

fieldset {
    border-color: #dddddd;
    margin: 20px;
}

#sexo {
    width: 150px;
    margin: auto;
}

fieldset#user {
    background: url("C:/Users/Pichau/Desktop/Estudos/projeto-google-glass/curso-html5-pacote01/projeto-glass-html5/_imagens/icone-contato.png") no-repeat 95% 95%;
}

fieldset#endereco {
    background: url("C: /Users/Pichau/Desktop/Estudos/projeto google glass/curso html 5px pacote 1px /projeto glass html 5px /_imagens/icone endereco.png") no-repeat 95% 95%;
}