@charset "UTF-8";

#albumfotos {
    width: 700px;
    margin: 0 auto;
    padding: 50px;
    overflow: hidden;
    list-style: none;
}

#albumfotos li {
    float: left;
    width: 200px;
    height: 200px;
    margin: 10px;
    border: 5px solid white;
    background-color: white;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
    transition: all .5s ease-in;
    
}

#albumfotos li span {
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.377);
    color: white;
    text-shadow: 1px 1px 1px black;
    font-size: 9pt;
    line-height: 370px;
    padding: 5px;
}

#albumfotos li:hover {
    transform: scale(1.5);
}

#albumfotos li:hover span {
    opacity: 1;
}

#albumfotos #foto01 {
    background: url("../_imagens/galeria-01.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

#albumfotos #foto01:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

#albumfotos #foto02 {
    background: url("../_imagens/galeria-02.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

#albumfotos #foto02:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}

#albumfotos #foto03 {
    background: url("../_imagens/galeria-03.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

#albumfotos #foto03:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}


#albumfotos #foto04 {
    background: url("../_imagens/galeria-04.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

#albumfotos #foto04:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}


#albumfotos #foto05 {
    background: url("../_imagens/galeria-05.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

#albumfotos #foto05:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}


#albumfotos #foto06 {
    background: url("../_imagens/galeria-06.jpg") no-repeat;
    background-position: 50% 50%;
    background-size: 400px 400px;
    background-color: white;
}

#albumfotos #foto06:hover {
    background-position: 0px 0px;
    background-size: 200px 200px;
}
